body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e2f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: #2a2a40;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    
}
button {
    padding: 10px 20px;
    background: #b03828;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background: #43a047;
}
